* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  line-height: 1.5;
  color: #2e2f42;
  letter-spacing: 0.04em;
  font-weight: 400;
  font-size: 16px;
}

nav {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* ********** TASK 1 ************ */
.list-something {
  border-radius: 8px;
  padding: 24px;
  width: 440px;
  background-color: #fff;
}

.item {
  background-color: #f6f6fe;
  border-radius: 8px;
  margin-bottom: 24px;
}

.item:last-child {
  margin-bottom: 0;
}

.title-list {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  padding-top: 16px;
  margin-bottom: 16px;
  padding-left: 16px;
}

.sublist {
  display: flex;
  gap: 8px;
  width: 360px;
  padding-left: 16px;
  padding-bottom: 16px;
  flex-direction: column;
}

.item-of-list {
  border: 1px solid #696a81;
  border-radius: 4px;
  padding-left: 16px;
  width: 360px;
  height: 40px;
  display: flex;
  align-items: center;
}

/* ********** TASK 2 ************ */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  max-width: 1128px;
}

.img-list-item {
  display: flex;
  object-fit: cover;
}

/* ********** TASK 3 ************ */
.name-input {
  width: 360px;
  height: 40px;
  padding-left: 16px;
  border: 1px solid #696a81;
  border-radius: 4px;
  margin-bottom: 16px;
}

.greetengs {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
}

/* ********** TASK 4 ************ */
.login-form-label {
  display: flex;
  flex-direction: column;
}

.login-form-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin-bottom: 8px;
}

.login-form-button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  color: #fff;
  margin-top: 8px;
}

/* ********** TASK 5 ************ */
.widget {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.change-color {
  border-radius: 8px;
  padding: 8px 16px;
  width: 148px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  color: #fff;
  margin: 0 auto;
}

/* ********** TASK 6 ************ */
.form {
  border-radius: 8px;
  padding: 32px;
  width: 486px;
  background-color: #f6f6fe;
  margin-bottom: 16px;
}

.number-element {
  border: 1px solid #808080;
  border-radius: 8px;
  padding: 8px;
  width: 150px;
}

.btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  background-color: #4e75ff;
  font-weight: 500;
  color: #fff;
}

.destroy-btn {
  background-color: #ff4e4e;
}

.box-size {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 30px;
}
